<!-- <p>{{objRecibido.id}}</p>
<p>{{objRecibido.name}}</p>
<p>{{objRecibido.gender}}</p>
<p>{{objRecibido.species}}</p>
<img src="{{objRecibido.image}}" alt="imagen"> -->


<div class="card contenedor-card" style="width: 18rem;">
    <img class="card-img-top" src="{{objRecibido.image}}" alt="Imagen personaje">
    <div class="card-body ">
        <h5 class="card-title">{{objRecibido.name}}</h5>
        <p class="card-text">{{objRecibido.id}}</p>
        <p class="card-text">{{objRecibido.gender}}</p>
        <p class="card-text">{{objRecibido.species}}</p>
    </div>
</div>

